# Binary Predictors in a Logistic Regression

Using the same code as in the previous exercise, find the odds of 'duration'. 

What do they tell you?

## Import the relevant libraries

In [1]:
import numpy as np 
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

#Apply a fix to the statsmodels library
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

## Load the data

Load the ‘Bank_data.csv’ dataset.

In [2]:
raw_data = pd.read_csv('Bank_data.csv')
raw_data

     Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0             0          1.334     0.0    1.0  0.0       0.0     117.0   no
1             1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2             2          4.858     0.0    1.0  0.0       0.0     167.0   no
3             3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4             4          4.856     0.0    1.0  0.0       0.0     157.0   no
..          ...            ...     ...    ...  ...       ...       ...  ...
513         513          1.334     0.0    1.0  0.0       0.0     204.0   no
514         514          0.861     0.0    0.0  2.0       1.0     806.0  yes
515         515          0.879     0.0    0.0  0.0       0.0     290.0   no
516         516          0.877     0.0    0.0  5.0       1.0     473.0  yes
517         517          4.965     0.0    0.0  0.0       0.0     142.0   no

[518 rows x 8 columns]

In [3]:
data = raw_data.copy()
data = data.drop(['Unnamed: 0'],axis=1)
data['y'] = data['y'].map({'yes':1,'no':0})
data

     interest_rate  credit  march  may  previous  duration  y
0            1.334     0.0    1.0  0.0       0.0     117.0  0
1            0.767     0.0    0.0  2.0       1.0     274.0  1
2            4.858     0.0    1.0  0.0       0.0     167.0  0
3            4.120     0.0    0.0  0.0       0.0     686.0  1
4            4.856     0.0    1.0  0.0       0.0     157.0  0
..             ...     ...    ...  ...       ...       ... ..
513          1.334     0.0    1.0  0.0       0.0     204.0  0
514          0.861     0.0    0.0  2.0       1.0     806.0  1
515          0.879     0.0    0.0  0.0       0.0     290.0  0
516          0.877     0.0    0.0  5.0       1.0     473.0  1
517          4.965     0.0    0.0  0.0       0.0     142.0  0

[518 rows x 7 columns]

### Declare the dependent and independent variables

Use 'duration' as the independet variable.

In [4]:
x1 = data['duration']
y = data['y']

### Simple Logistic Regression

Run the regression.

In [5]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.546118
         Iterations 7

C:\Users\Parzival\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [6]:
results_log.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  518
Model:                          Logit   Df Residuals:                      516
Method:                           MLE   Df Model:                            1
Date:                Mon, 08 Jun 2020   Pseudo R-squ.:                  0.2121
Time:                        20:18:47   Log-Likelihood:                -282.89
converged:                       True   LL-Null:                       -359.05
Covariance Type:            nonrobust   LLR p-value:                 5.387e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.7001      0.192     -8.863      0.000      -2.076      -1.324
duration       0.0051      0.001      9.159      0.000       0.004       0.006
==============================================================================
"""

### Find the odds of duration

In [7]:
np.exp(0.0051)

1.005113027136717

odds(duration2) = 1.005 * odds(duration1)

The odds of duration are pretty close to 1. This tells us that although duration is a significant predictor, a change in 1 day would barely affect the regression. 

Note that we could have inferred that from the coefficient itself.

Finally, note that the data is not standardized (scaled) and duration is a feature of a relatively big order of magnitude.

## Accuracy

In [8]:
results_log.predict()

array([0.24936904, 0.42571348, 0.30019503, 0.85898342, 0.28956627,
       0.2580803 , 0.21914028, 0.16614452, 0.86976608, 0.31987434,
       0.55276776, 0.22532533, 0.30234734, 0.39480294, 0.35411888,
       0.489064  , 0.29167414, 0.25225084, 0.50567672, 0.82802726,
       0.84413091, 0.5890681 , 0.45848474, 0.40215497, 0.44961416,
       0.20546539, 0.4157464 , 0.42321571, 0.58286683, 0.2580803 ,
       0.17928751, 0.2580803 , 0.85711543, 0.43322907, 0.293791  ,
       0.32658401, 0.98373368, 0.21652721, 0.99665611, 0.62920727,
       0.2639969 , 0.49417474, 0.30885632, 0.27711089, 0.28746746,
       0.2474601 , 0.19643708, 0.30342677, 0.30559213, 0.4712014 ,
       0.87376626, 0.20132396, 0.22177596, 0.28642146, 0.25612742,
       0.49417474, 0.27916371, 0.20214723, 0.88872861, 0.53501481,
       0.23806331, 0.24556099, 0.90211616, 0.40092648, 0.51078751,
       0.45975425, 0.28019361, 0.30450837, 0.87432905, 0.23713725,
       0.18231618, 0.3706541 , 0.4724754 , 0.38144917, 0.54009814,
       0.26499142, 0.40955126, 0.57163945, 0.29273144, 0.20713955,
       0.34366753, 0.43448476, 0.29912217, 0.45721577, 0.40584778,
       0.96977349, 0.30234734, 0.52865053, 0.40092648, 0.22981841,
       0.35646087, 0.22001633, 0.37423872, 0.31876317, 0.77188171,
       0.81375221, 0.79693085, 0.19805601, 0.98331956, 0.30450837,
       0.93048438, 0.34366753, 0.89270915, 0.41202599, 0.49800865,
       0.50184279, 0.41823205, 0.34597743, 0.41823205, 0.5171727 ,
       0.53882805, 0.24556099, 0.30667805, 0.20546539, 0.7418059 ,
       0.17928751, 0.2512878 , 0.88304484, 0.60015818, 0.47629948,
       0.23254427, 0.17188814, 0.39847323, 0.99446526, 0.47629948,
       0.96015351, 0.36471144, 0.59277546, 0.34251534, 0.4157464 ,
       0.28537775, 0.33109711, 0.47885045, 0.90256666, 0.45848474,
       0.68332439, 0.57414123, 0.42821504, 0.42696379, 0.30885632,
       0.2580803 , 0.23437399, 0.83728563, 0.44077551, 0.83518536,
       0.6457452 , 0.3826561 , 0.25710265, 0.99958344, 0.26004286,
       0.95936376, 0.74763705, 0.97094956, 0.86083095, 0.19724529,
       0.28851573, 0.81759521, 0.96545422, 0.82212514, 0.97724027,
       0.46992777, 0.56536922, 0.93244242, 0.41326503, 0.30667805,
       0.44329726, 0.28642146, 0.28329719, 0.22265954, 0.57788676,
       0.67328529, 0.49673063, 0.44834942, 0.27303329, 0.28642146,
       0.98491629, 0.32996588, 0.24556099, 0.61357357, 0.36234577,
       0.51589604, 0.27303329, 0.42696379, 0.91950756, 0.2639969 ,
       0.34482156, 0.16543748, 0.23163316, 0.99946492, 0.30885632,
       0.32883661, 0.55276776, 0.22089489, 0.65735083, 0.34482156,
       0.16193843, 0.6975273 , 0.21566122, 0.68332439, 0.41947645,
       0.28122583, 0.81063309, 0.48778663, 0.92174878, 0.2580803 ,
       0.4169887 , 0.48395555, 0.86565863, 0.42571348, 0.97654796,
       0.34713511, 0.4070811 , 0.93497359, 0.40338469, 0.21739572,
       0.86326272, 0.88822206, 0.20132396, 0.34482156, 0.19164035,
       0.59277546, 0.74860038, 0.20214723, 0.29061908, 0.89023623,
       0.34945591, 0.82287149, 0.3132384 , 0.99423554, 0.96476567,
       0.65040899, 0.35061899, 0.53628637, 0.94063537, 0.81987129,
       0.98476364, 0.3706541 , 0.33906994, 0.5120649 , 0.5641126 ,
       0.28329719, 0.76916997, 0.23072454, 0.20630121, 0.97007176,
       0.99471283, 0.60627604, 0.23529259, 0.94063537, 0.72786255,
       0.31433919, 0.80427511, 0.20882377, 0.20966965, 0.28329719,
       0.65504417, 0.38144917, 0.21739572, 0.53882805, 0.58037884,
       0.66079688, 0.82361539, 0.99620196, 0.39724851, 0.29591681,
       0.26698762, 0.51589604, 0.27608797, 0.72786255, 0.57038718,
       0.89891042, 0.53501481, 0.75147569, 0.23992287, 0.99332049,
       0.45087956, 0.74667128, 0.2750674 , 0.42446411, 0.33792522,
       0.89983574, 0.2750674 , 0.94423959, 0.99995738, 0.39847323,
       0.96073615, 0.21222237, 0.99013031, 0.41450518, 0.341365  ,
       0.28956627, 0.39602507, 0.6527302 , 0.24650931, 0.46865454,
       0.28642146, 0.31987434, 0.20966965, 0.20966965, 0.80022005,
       0.47629948, 0.3322303 , 0.31876317, 0.40461563, 0.32322008,
       0.27813613, 0.35528901, 0.98506744, 0.75527505, 0.30776611,
       0.29167414, 0.31765407, 0.19006143, 0.39480294, 0.95732329,
       0.31544207, 0.96612978, 0.52610209, 0.77007639, 0.65850138,
       0.31213971, 0.24179235, 0.24556099, 0.24367173, 0.20966965,
       0.35178386, 0.48650942, 0.26201507, 0.99624045, 0.16055562,
       0.99202219, 0.93497359, 0.99358644, 0.34021653, 0.19563137,
       0.3356415 , 0.86144227, 0.37184741, 0.85073956, 0.65504417,
       0.67440884, 0.26698762, 0.98676882, 0.51461918, 0.18307954,
       0.35880975, 0.76643575, 0.99999295, 0.35763445, 0.27303329,
       0.55403124, 0.77812146, 0.19724529, 0.69210727, 0.79023186,
       0.32322008, 0.61478497, 0.29591681, 0.16193843, 0.22891479,
       0.32658401, 0.24841334, 0.3345025 , 0.28122583, 0.61478497,
       0.96947234, 0.39236262, 0.4521456 , 0.57663923, 0.28746746,
       0.99848325, 0.98397728, 0.43951577, 0.60749569, 0.5890681 ,
       0.28433632, 0.36471144, 0.24179235, 0.91798103, 0.38871224,
       0.47629948, 0.37543668, 0.31765407, 0.84345709, 0.37423872,
       0.31433919, 0.5043988 , 0.21051804, 0.28019361, 0.59154082,
       0.2750674 , 0.19805601, 0.64457487, 0.34945591, 0.97971382,
       0.3826561 , 0.41078806, 0.36946236, 0.55907801, 0.78423825,
       0.50695457, 0.25515462, 0.55276776, 0.87432905, 0.21826675,
       0.29167414, 0.53119748, 0.97930339, 0.50950998, 0.94738292,
       0.58659087, 0.78163184, 0.72174454, 0.65157049, 0.40461563,
       0.40584778, 0.68221711, 0.18461368, 0.73389564, 0.4070811 ,
       0.73289607, 0.44455924, 0.5641126 , 0.36827222, 0.5171727 ,
       0.39358212, 0.5952412 , 0.3132384 , 0.51461918, 0.90390706,
       0.86625204, 0.26102776, 0.569134  , 0.59030503, 0.42072186,
       0.38507431, 0.26698762, 0.48012635, 0.44077551, 0.94661314,
       0.24179235, 0.28329719, 0.37184741, 0.19643708, 0.83867379,
       0.54390523, 0.4083156 , 0.64105353, 0.83728563, 0.24556099,
       0.83163665, 0.78596328, 0.27404917, 0.92675773, 0.23529259,
       0.28019361, 0.97094956, 0.73984278, 0.29273144, 0.341365  ,
       0.29698305, 0.7258326 , 0.53755746, 0.28329719, 0.30019503,
       0.2679893 , 0.23529259, 0.99978009, 0.3874982 , 0.32770932,
       0.68221711, 0.67664992, 0.39847323, 0.98306613, 0.65619842,
       0.34945591, 0.32883661, 0.5791333 , 0.36352778, 0.85898342,
       0.19164035, 0.52865053, 0.45594735, 0.18461368, 0.98437533,
       0.86021738, 0.81911507, 0.87091986, 0.80346911, 0.39602507,
       0.23992287, 0.87655878, 0.81219763, 0.59277546, 0.20966965,
       0.25906037, 0.3221028 , 0.31433919, 0.49161915, 0.24179235,
       0.66877127, 0.20966965, 0.27303329, 0.2474601 , 0.30450837,
       0.69968011, 0.54136772, 0.16124582, 0.91444956, 0.43197424,
       0.67553039, 0.67888292, 0.36589675, 0.341365  , 0.91836512,
       0.44582194, 0.67215975, 0.27404917])

In [9]:
np.array(data['y'])

array([0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0], dtype=int64)

In [10]:
results_log.pred_table()

array([[204.,  55.],
       [104., 155.]])

#### Confusion matrix

In [11]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df = cm_df.rename(index={0:"Actual 0",1:"Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0        204.0         55.0
Actual 1        104.0        155.0

# Considering other parameters

In [12]:
y = data['y']
x1 = data.drop(['y'],axis=1)

In [13]:
x = sm.add_constant(x1)
reg_log = sm.Logit(y,x)
results_log = reg_log.fit()

Optimization terminated successfully.
         Current function value: 0.335942
         Iterations 7

In [27]:
results_log.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.515
Dependent Variable: y                AIC:              362.0356
Date:               2020-06-08 20:49 BIC:              391.7855
No. Observations:   518              Log-Likelihood:   -174.02
Df Model:           6                LL-Null:          -359.05
Df Residuals:       511              LLR p-value:      7.5788e-77
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
-----------------------------------------------------------------
                   Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------
const             -0.1385   0.3395 -0.4080 0.6833 -0.8039  0.5269
interest_rate     -0.7802   0.0921 -8.4712 0.0000 -0.9607 -0.5997
credit             2.4028   1.0895  2.2053 0.0274  0.2673  4.5382
march             -1.8097   0.3315 -5.4585 0.0000 -2.4594 -1.1599
may                0.1946   0.2293  0.8488 0.3960 -0.2548  0.6440
previous           1.2746   0.5831  2.1861 0.0288  0.1319  2.4174
duration           0.0070   0.0007  9.3864 0.0000  0.0055  0.0084
=================================================================

"""

In [15]:
cm_df = pd.DataFrame(results_log.pred_table())
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df = cm_df.rename(index={0:"Actual 0",1:"Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0        220.0         39.0
Actual 1         31.0        228.0

In [16]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.8648648648648649

## Testing model

In [17]:
test = pd.read_csv('Bank-data-testing.csv')
test

     Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0             0          1.313     0.0    1.0  0.0       0.0     487.0   no
1             1          4.961     0.0    0.0  0.0       0.0     132.0   no
2             2          4.856     0.0    1.0  0.0       0.0      92.0   no
3             3          4.120     0.0    0.0  0.0       0.0    1468.0  yes
4             4          4.963     0.0    0.0  0.0       0.0      36.0   no
..          ...            ...     ...    ...  ...       ...       ...  ...
217         217          4.963     0.0    0.0  0.0       0.0     458.0  yes
218         218          1.264     0.0    1.0  1.0       0.0     397.0  yes
219         219          1.281     0.0    1.0  0.0       0.0      34.0   no
220         220          0.739     0.0    0.0  2.0       0.0     233.0   no
221         221          1.046     0.0    0.0  0.0       0.0     238.0  yes

[222 rows x 8 columns]

In [18]:
test = test.drop(['Unnamed: 0'],axis=1)
test['y'] = test['y'].map({'yes':1,'no':0})
test

     interest_rate  credit  march  may  previous  duration  y
0            1.313     0.0    1.0  0.0       0.0     487.0  0
1            4.961     0.0    0.0  0.0       0.0     132.0  0
2            4.856     0.0    1.0  0.0       0.0      92.0  0
3            4.120     0.0    0.0  0.0       0.0    1468.0  1
4            4.963     0.0    0.0  0.0       0.0      36.0  0
..             ...     ...    ...  ...       ...       ... ..
217          4.963     0.0    0.0  0.0       0.0     458.0  1
218          1.264     0.0    1.0  1.0       0.0     397.0  1
219          1.281     0.0    1.0  0.0       0.0      34.0  0
220          0.739     0.0    0.0  2.0       0.0     233.0  0
221          1.046     0.0    0.0  0.0       0.0     238.0  1

[222 rows x 7 columns]

In [19]:
x

     const  interest_rate  credit  march  may  previous  duration
0      1.0          1.334     0.0    1.0  0.0       0.0     117.0
1      1.0          0.767     0.0    0.0  2.0       1.0     274.0
2      1.0          4.858     0.0    1.0  0.0       0.0     167.0
3      1.0          4.120     0.0    0.0  0.0       0.0     686.0
4      1.0          4.856     0.0    1.0  0.0       0.0     157.0
..     ...            ...     ...    ...  ...       ...       ...
513    1.0          1.334     0.0    1.0  0.0       0.0     204.0
514    1.0          0.861     0.0    0.0  2.0       1.0     806.0
515    1.0          0.879     0.0    0.0  0.0       0.0     290.0
516    1.0          0.877     0.0    0.0  5.0       1.0     473.0
517    1.0          4.965     0.0    0.0  0.0       0.0     142.0

[518 rows x 7 columns]

In [23]:
test_actual = test['y']
test_data = test.drop(['y'],axis=1)
test_data = sm.add_constant(test_data)
test_data

     const  interest_rate  credit  march  may  previous  duration
0      1.0          1.313     0.0    1.0  0.0       0.0     487.0
1      1.0          4.961     0.0    0.0  0.0       0.0     132.0
2      1.0          4.856     0.0    1.0  0.0       0.0      92.0
3      1.0          4.120     0.0    0.0  0.0       0.0    1468.0
4      1.0          4.963     0.0    0.0  0.0       0.0      36.0
..     ...            ...     ...    ...  ...       ...       ...
217    1.0          4.963     0.0    0.0  0.0       0.0     458.0
218    1.0          1.264     0.0    1.0  1.0       0.0     397.0
219    1.0          1.281     0.0    1.0  0.0       0.0      34.0
220    1.0          0.739     0.0    0.0  2.0       0.0     233.0
221    1.0          1.046     0.0    0.0  0.0       0.0     238.0

[222 rows x 7 columns]

In [24]:
def confusion_matrix(data,actual_values,model) :
    
    pred_values = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual_values,pred_values,bins=bins)[0]
    accuracy = (cm[0,0]+cm[1,1])/cm.sum()
    return cm,accuracy

In [25]:
cm = confusion_matrix(test_data,test_actual,results_log)
cm

(array([[94., 17.],
        [12., 99.]]), 0.8693693693693694)

In [26]:
cm_df = pd.DataFrame(cm[0])
cm_df.columns = ['Predicted 0','Predicted 1']
cm_df = cm_df.rename(index={0:"Actual 0",1:"Actual 1"})
cm_df

          Predicted 0  Predicted 1
Actual 0         94.0         17.0
Actual 1         12.0         99.0